.root {
  margin-top: 18px;
  margin-bottom: 18px;
}

.top {
  font-family: Poppins, sans-serif;
  color: var(--ink-light);
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.reset {
  font-size: 0.875rem;
  text-decoration-line: underline;
  color: inherit;
}

.reset:hover {
  text-decoration-line: none;
}

.chips {
  display: flex;
  gap: 8px;
  flex-flow: wrap;
}
